@model NETCKTEAM30.Models.NhaCungCap

@{
    ViewData["Title"] = "Create";
}

<meta name="viewport" content="width=device-width" />
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>@ViewData["Title"] - NETCKTEAM30</title>
<link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />

<link href="~/css/mycss.css" rel="stylesheet" />
<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>


<body>


    
        <a class="btn btn-danger" asp-action="index" asp-controller="NhaCungCaps">Nhà Cung cấp</a>
        <a class="btn btn-primary" asp-action="index" asp-controller="HangHoas">Hàng Hóa</a>
        <a class="btn btn-success" asp-action="index" asp-controller="Loais">Loai</a>
        <a class="btn btn-info" asp-action="index" asp-controller="NguoiDungs">Người Dùng</a>
        <a class="btn btn-warning" asp-action="index" asp-controller="HoaDons">Đơn Hàng Trong Ngày</a>
        <button type="button" class="btn btn-danger" asp-action="index" asp-controller="HoaDons">Doanh Số</button>



   
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    Tên Nhà Cung Cấp
                    <input asp-for="TenNhaCc" class="form-control" />
                    <span asp-validation-for="TenNhaCc" class="text-danger"></span>
                </div>
                <div class="form-group">
                    Địa Chỉ
                    <input asp-for="DiaChi" class="form-control" />
                    <span asp-validation-for="DiaChi" class="text-danger"></span>
                </div>
                <div class="form-group">
                    SĐT
                    <input asp-for="SDT" class="form-control" />
                    <span asp-validation-for="SDT" class="text-danger"></span>
                </div>
                <div class="form-group">
                    Email
                    <input asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    Mô Tả
                    <input asp-for="MoTa" class="form-control" />
                    <span asp-validation-for="MoTa" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Thêm" class="btn btn-default"class="btn btn-danger" />
                </div>
            </form>
        </div>
    </div>
    <br />
    <div>
        <a asp-action="Index"class="btn btn-danger">Trở Về</a>
    </div>

</body>