@model NETCKTEAM30.Models.HangHoa

@{
    ViewData["Title"] = "Edit";
}

<meta name="viewport" content="width=device-width" />
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>@ViewData["Title"] - NETCKTEAM30</title>
<link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />

<link href="~/css/mycss.css" rel="stylesheet" />
<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>


<body>


    
        <a class="btn btn-danger" asp-action="index" asp-controller="NhaCungCaps">Nhà Cung cấp</a>
        <a class="btn btn-primary" asp-action="index" asp-controller="HangHoas">Hàng Hóa</a>
        <a class="btn btn-success" asp-action="index" asp-controller="Loais">Loai</a>
        <a class="btn btn-info" asp-action="index" asp-controller="NguoiDungs">Người Dùng</a>
        <a class="btn btn-warning" asp-action="index" asp-controller="HoaDons">Đơn Hàng Trong Ngày</a>
        <button type="button" class="btn btn-danger" asp-action="index" asp-controller="HoaDons">Doanh Số</button>



    
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Edit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="HanghoaID" />
                <div class="form-group">
                    Tên Hàng Hóa
                    <input asp-for="TenHh" class="form-control" />
                    <span asp-validation-for="TenHh" class="text-danger"></span>
                </div>
                <div class="form-group">
                    Loại
                    <select asp-for="MaLoaiID" class="form-control" asp-items="ViewBag.MaLoaiID"></select>
                    <span asp-validation-for="MaLoaiID" class="text-danger"></span>
                </div>
                <div class="form-group">
                    Giá
                    <input asp-for="DonGia" class="form-control" />
                    <span asp-validation-for="DonGia" class="text-danger"></span>
                </div>
                <div class="form-group">
                    Hình
                    <dd>
                        <div style="width:auto;height:210px; ">
                            @foreach (var item in ViewBag.arr)
                            {
                                if (item != "")
                                {
                                    <img style="width:220px;height:200px;float:left; padding:5px;" src="~/images/@item" class="img-thumbnail" alt="Cinque Terre" />

                                }
                            }
                        </div>
                    </dd>
                    Khác
                    <input type="file" name="myfile" multiple />
                    <span asp-validation-for="Hinh" class="text-danger"></span>
                </div>
                <div class="form-group">
                    Nhà Cung Cấp
                    <select asp-for="NhaCungCapID" class="form-control" asp-items="ViewBag.NhaCungCapID"></select>
                    <span asp-validation-for="NhaCungCapID" class="text-danger"></span>
                </div>
                <div class="form-group">
                    Nhà Cung Cấp
                    <input asp-for="NgayNhap" class="form-control" />
                    <span asp-validation-for="NgayNhap" class="text-danger"></span>
                </div>
                <div class="form-group">
                    Mô Tả
                    <input asp-for="MoTa" class="form-control" />
                    <span asp-validation-for="MoTa" class="text-danger"></span>
                </div>
                <div class="form-group">
                    Giảm Giá
                    <input asp-for="GiamGia" class="form-control" />
                    <span asp-validation-for="GiamGia" class="text-danger"></span>
                </div>
                <div class="form-group">
                    Lượt Mua
                    <input asp-for="LuotMua" class="form-control" />
                    <span asp-validation-for="LuotMua" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Lưu" class="btn btn-default btn btn-primary" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <a asp-action="Index"class="btn btn-primary">Trở Về</a>
    </div>
</body>
