@model IEnumerable<NETCKTEAM30.Models.HangHoaViewModel>
@{
    Layout = "_FrontEnd";
}

<title>@ViewData["Title"] - NETCKTEAM30</title>
<link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
<link href="~/css/style.css" rel="stylesheet" type="text/css" media="all" />

<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
<link href="~/css/mycss.css" rel="stylesheet" />


<div class="container-fluid">
    <div class="row" style="margin-right:-15px;margin-left:-96px;">
        <div class="products-breadcrumb" style="background-color:#a5c29e;padding:0.5em 14px;">      
            <ul>
                <li><i class="fa fa-home" aria-hidden="true"></i><a href="~/">Home</a><span>|</span></li>
                <li> Sreach <input type="text" id="txtSearch" placeholder="Nhập từ khóa" /></li>
            </ul> 
        </div>

        <div id="results"></div>
        <script>
            $("#txtSearch").keyup(function () {
                $.ajax({
                    url: "/HangHoas/Search",
                    data: { keyword: $(this).val() },
                    type: "GET",
                    success: function (response) {
                        $("#results").html(response);
                    }
                });
            });
        </script>
    </div>

</div>


<div class="row works" style="margin-right:-15px;margin-left:-55px;">
    @foreach (var hh in Model)
    {

        <div class="col-sm-3">
            <a asp-action="chitiet" asp-controller="HangHoas" class="_hanghoa1"
               asp-route-id="@hh.MaHH">
                <img src="~/images/@hh.Hinh" style="height:310px;width:200px"/>
                <span class="thongtinsanpham">
                    <h4 class="tensanpham">@hh.TenHH</h4>
                    <div class="danhmucsanpham">@hh.GiaBan $</div>
                </span>
            </a>
        </div>
    }
</div>